#navbarSupportedContent > a {
    border: 2px solid !important;
    border-radius: 35px !important;
    background-color: #ffffff !important;
    color: #006ab4 !important;
    box-shadow: none !important;
}

.web-footer {
    padding: 1rem 0;
    min-height: 140px;
}

.section-padding-bottom {
    padding-bottom: 1rem;
}

.section-padding-top {
    padding-top: 4rem !important;
}

.for-login, .for-forgot, .for-signup, .for-email-login {
    padding: max(4vh, 40px) 0 !important;
}